<header class="bg-teal-700 text-white">
  <div
    class="container mx-auto flex flex-col sm:flex-row justify-between items-center py-4 px-6"
  >
    <h1 class="text-2xl font-bold">MétéoApp 🌤️</h1>

    <nav class="mt-2 sm:mt-0">
      <ul class="flex gap-6 text-lg">
        <li>
          <a href="/index.html" class="nav-link hover:underline"> Accueil </a>
        </li>
        <li>
          <a href="/search.html" class="nav-link hover:underline">
            Recherche
          </a>
        </li>
        <li>
          <a href="/contact.html" class="nav-link hover:underline"> Contact </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
